*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(black-hair-child-eye-1098769.jpg);
	height: 100vh;
	background-size:cover;
	background-position:center;
}